.list-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  
.list-container__title {
    width: 100%;
    text-align: center;
    font-family: 'Crete Round', serif;
}
  
.list-container__card {
    width: 300px !important;
    margin: 30px !important;
}